Practica1/WebEntrega3/web/WEB-INF/wsdl/localhost_8080/GestionPedidosService/GestionPedidosService.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.1-b419 (branches/2.3.1.x-7937; 2014-08-04T08:11:03+0000) JAXWS-RI/2.2.10-b140803.1500 JAXWS-API/2.2.11 JAXB-RI/2.2.10-b140802.1033 JAXB-API/2.2.12-b140109.1041 svn-revision#unknown. --><!-- Generated by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.1-b419 (branches/2.3.1.x-7937; 2014-08-04T08:11:03+0000) JAXWS-RI/2.2.10-b140803.1500 JAXWS-API/2.2.11 JAXB-RI/2.2.10-b140802.1033 JAXB-API/2.2.12-b140109.1041 svn-revision#unknown. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://WebService/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://WebService/" name="GestionPedidosService">
<types>
<xsd:schema>
<xsd:import namespace="http://WebService/" schemaLocation="http://localhost:8080/GestionPedidosService/GestionPedidosService?xsd=1"/>
</xsd:schema>
</types>
<message name="getPedidosPendientes">
<part name="parameters" element="tns:getPedidosPendientes"/>
</message>
<message name="getPedidosPendientesResponse">
<part name="parameters" element="tns:getPedidosPendientesResponse"/>
</message>
<message name="editPedido">
<part name="parameters" element="tns:editPedido"/>
</message>
<message name="editPedidoResponse">
<part name="parameters" element="tns:editPedidoResponse"/>
</message>
<message name="addPedido">
<part name="parameters" element="tns:addPedido"/>
</message>
<message name="addPedidoResponse">
<part name="parameters" element="tns:addPedidoResponse"/>
</message>
<portType name="GestionPedidosService">
<operation name="getPedidosPendientes">
<input wsam:Action="http://WebService/GestionPedidosService/getPedidosPendientesRequest" message="tns:getPedidosPendientes"/>
<output wsam:Action="http://WebService/GestionPedidosService/getPedidosPendientesResponse" message="tns:getPedidosPendientesResponse"/>
</operation>
<operation name="editPedido">
<input wsam:Action="http://WebService/GestionPedidosService/editPedidoRequest" message="tns:editPedido"/>
<output wsam:Action="http://WebService/GestionPedidosService/editPedidoResponse" message="tns:editPedidoResponse"/>
</operation>
<operation name="addPedido">
<input wsam:Action="http://WebService/GestionPedidosService/addPedidoRequest" message="tns:addPedido"/>
<output wsam:Action="http://WebService/GestionPedidosService/addPedidoResponse" message="tns:addPedidoResponse"/>
</operation>
</portType>
<binding name="GestionPedidosServicePortBinding" type="tns:GestionPedidosService">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="getPedidosPendientes">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="editPedido">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="addPedido">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
</binding>
<service name="GestionPedidosService">
<port name="GestionPedidosServicePort" binding="tns:GestionPedidosServicePortBinding">
<soap:address location="http://localhost:8080/GestionPedidosService/GestionPedidosService"/>
</port>
</service>
</definitions>